.countrylist{
  padding-left: 5vw;
  float: left;
}

.eachcountrybox{
  border: 1px solid black;
  width: 20vw;
  padding: 15px;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
}

.eachcountrybox a, .navbar a {
  text-decoration: none;
}



.navbar{
  background-color: #0660fb;
  height: 80px;
}

.navbar h2{
  color: white;
  padding-left: 10vw;
}


.countryDetails{
  text-align: center;
}